.hidden{
    display: none;
}
.card-form-s{/*otros estilos aparte del color de fondo*/
    text-align: center !important;
}

.card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    height: 260px;
}

.card-body{
    position: absolute;
    background-color: #00000042;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5%;
}

.card-img,.card-img img{
    width: 100%;
    height: 100%;
}

.card-form-s .label-form, .card-form-s small{
    /*color del titulo y del texto de ayuda*/
    color: white !important;
}

.form-title{
    font-size: 1.3rem;
}

#markSelect{
    height: 3rem;
}

.btn-form-amazon{
    background-color: #007bff;
    color: white;
    transition: ease 500ms all;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-form-amazon{
    color: white;
}