.hidden{
    display: none;
}
.card-form-s{
    /*https://cssgradient.io/*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,79,236,1) 35%, rgba(9,160,190,0.6054796918767507) 100%);
    /*otros estilos aparte del color de fondo*/
    text-align: center !important;
    padding: 5vh;
}

.card-form-s .label-form, .card-form-s small{
    /*color del titulo y del texto de ayuda*/
    color: white !important;
}

.form-title{
    padding: 5vh;
    font-size: 1.3rem;
}

#markSelect{
    height: 3rem;
}

.btn-form-amazon{
    border: 1px solid white;
    color: white;
    padding: 7px 20px;
    transition: ease 300ms all;
}

.btn-form-amazon:hover{
    color: #c3cdf3;
    border: #c3cdf3 1px solid;
}